agent-framework==1.0.0b251120
agent-framework-azure-ai==1.0.0b251120
agent-framework-chatkit==1.0.0b251120
openai-chatkit==1.4.0

azure-identity==1.25.1

fastapi==0.123.4
uvicorn==0.38.0
sse-starlette==3.0.3
starlette==0.50.0

SQLAlchemy==2.0.44
python-dotenv==1.2.1
pydantic==2.12.5
python-multipart==0.0.20

openai==2.8.1
requests==2.32.5
